{% extends "layout.html" %}
{% block content %}



    </div>
    </div>
    </div>

    <div id="section-about" onload="sampleFunction()">
        <div id="aboutcard" class="card col-md-8">
            <div class="card-header ">
                <b>ABOUT</b>
            </div>
            <div class="card-body">
                <p class="title">Your Ingredients, Our Recipes</p>
                <p class="aboutcontent">• Often, people get into a situation where
                    they want to cook something delicious
                    but are short on ingredients at home.<br>
                    • Many times people see an image of a
                    delicious looking dish, but they don't
                    know its recipe.<br>
                    • We aim to make a user aware about the
                    various dishes which can be cooked
                    from available set of ingredients or an
                    input image given by the user.<br><br>
                    Our project aims to make a user aware of the various dishes which can be cooked from the
                    available set of ingredients being input by a user. There may be times when a person desires new,
                    delicious, healthy or maybe presentable cuisines. An optimal solution to this could be the design
                    of an application wherein the user will be capable of exploring and preparing several new dishes
                    which include those ingredients. Therefore, a system could be designed that could actually take
                    ingredients as the input and generate the best-matched recipe from an exhaustive list of most
                    matching recipes.<br><br>
                    In addition, this project would be a great platform for people to learn and expand their
                    knowledge in the field of cooking. Moreover, it will help in exploring and spreading the taste of
                    one region worldwide. It will also bring innovation to the art of cooking. Our motivation is not
                    only restricted to these merits but also includes more information about nutrition for respective
                    recipes. Nutrition and health being the most important aspects of one’s life are also one of the
                    most neglected areas. This project will also ensure that a user is aware of his/her food intake
                    value and thus plan to explore and make healthier meals.
                </p>
            </div>
        </div>
    </div>

{% endblock content %}
